form#editor(method= 'post', action= '/admin/edit')
	input#title(type= 'text', name= 'title', placeholder='Title', value= article.title)
	.slugger
		b= 'Slug: '
		input#slug(type= 'text', value= article._id, name= 'slug', disabled= 'true')
		input#rev(type= 'hidden', value= article._rev, name= 'rev')
		input#status(type= 'hidden', value= article.status, name= 'status', value= 'published')
	.tags
		input#tags(type='text', name='tags', class='tagInput', placeholder='Comma-separated list of tags', value= (article.tags ? article.tags.join(', ') : ''))
	#fullscreen-area
		.tray
			.visual
				button#bold.edit(title= 'Bold')
					img(src= '/admin/img/tray/icon-bold.png')
				button#italic.edit(title= 'Italic')
					img(src= '/admin/img/tray/icon-italic.png')
				
			.visual
				button#code.edit(title= 'Code')
					img(src= '/admin/img/tray/icon-code.png')
				button#quote.edit(title= 'Blockquote')
					img(src= '/admin/img/tray/icon-quote.png')
			
			.visual
				button#unordered-list.edit(title= 'Unordered List')
					img(src= '/admin/img/tray/icon-unordered.png')
				button#ordered-list.edit(title= 'Ordered List')
					img(src= '/admin/img/tray/icon-ordered.png')
					
			.visual
				button#link.edit(title= 'Link')
					img(src= '/admin/img/tray/icon-link.png')
				button#img.edit(title= 'Image')
					img(src= '/admin/img/tray/icon-img.png')
					
			.toggle-fullscreen
				button#fullscreen.other(title= 'Fullscreen')
					img(src= '/admin/img/tray/icon-fullscreen.png')
					
			.toggle-mode
				button#markdown.selected= 'Markdown'
				button#preview= 'Preview'
	
		textarea.editor-markdown(name= 'body', id= article._id)!= article.markdown
		.preview!= article.body
		#dialog
			#dialog-title= 'Information'
			#dialog-content
				#dialog-body
				#dialog-buttons
					button#dialog-cancel.dialog-button= 'Cancel'
					button#dialog-ok.dialog-button= 'Ok'
		#overlay
	input#go(type= 'submit', value= 'Publish')
	input#status-check(type= 'checkbox')
	span= 'Draft'

script(type= 'text/javascript', src= 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type= 'text/javascript', src= '/admin/js/showdown.js')
script(type= 'text/javascript', src= '/admin/js/cushy.dialog.js')
script(type= 'text/javascript', src= '/admin/js/editor.js')