!!! 5
html(lang="en")
	head
		meta(charset= 'utf-8')
		meta(name= 'viewport', content= "width=device-width, initial-scale=1.0, user-scalable=yes")
		title= 'Couchpress / ' + title
		link(rel= 'stylesheet', href= '/admin/css/style.css')
	body
		header
			a(href= '/admin')
				img(src= '/admin/img/logo.png', alt= 'Couchpress')
			nav
				ul
					a(href= '/admin')
						li= 'Posts'
					a(href= '/admin/settings')
						li= 'Settings'
					a(href='/admin/uploads')
						li= 'Uploads'
			nav.right
				ul
					a(href= '/logout')
						li= 'Logout'
		section.title= title
		section.content
			!= body
		footer
			|Proudly powered by 
			a(href= 'http://couchpress.nodester.com')= 'CouchPress'
			|.
			a(href= '/')= 'Visit your site'
			|.