!!! 5
html(lang="en")
    head
        title= title
        meta(name= 'description', content= config.site.description)
        link(rel= 'stylesheet', href= '/css/style.css')
    body
        header
            a(href='/')
                img(src= '/img/logo-blog.png')
                h1= 'CouchPress'
        section.content
            != body
        footer
            | &copy; 2012 #{config.site.copyright}. 
            p
                -if(config.site.twitter)
                    a.nav(href= 'http://twitter.com/#{config.site.twitter}') @#{config.site.twitter}
                a.nav(href= '/admin') Admin Area
                a.nav(href= '/') Home
            p
                |Proudly powered by 
                a(href= 'http://couchpress.nodester.com') CouchPress
                |  v#{config.site.version}.
                | Many thanks to 
                a(href="http://www.nodester.com") Nodester
                |  and 
                a(href="http://www.iriscouch.com") Iris Couch
                |  for providing free hosting. 